<aside class="sidebar">
    <nav>
        <ul class="sidebar-menu">
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="manage-categories.html">Manage Categories</a></li>
            <li><a href="manage-products.html">Manage Products</a></li>
            <li><a href="orders.html">Riwayat Pesanan</a></li>
            <li><a href="manage-users.html">Manage Users</a></li>
            <li><a href="notifications.html">Notifications</a></li>
            <li><a href="user-profile.html">User Profile</a></li>
            <li><a href="transaksi.html">Data Transaksi Semua Pengguna</a></li>
            <ul class="menu-bar">Sistem Cerdas
                <li><a href="stokpredict.html">Prediksi Permintaan Stok</a></li>
                <li><a href="sentiment.html">Analisis Sentimen Produk</a></li>
                <li><a href="segmentasipelanggan.html">Analisis Segmentasi Pelanggan</a></li>
            </ul>

        </ul>
    </nav>
</aside>